body {
  .menuActive {
    text-decoration: none;
    color: #48b5ac !important;
  }
}

.listCustom {
  &.listing-type {
    display: flex;
    .list-content {
      flex: 1 !important;
      .topFive {
        top: 5px;
      }
    }
    .list-thumb {
      flex: 1 !important;
    }
  }
}
.cursor {
  cursor: pointer;
}

.hover-background {
  border: 3px solid black;
}

.hover-background:hover {
  border: 3px solid #0b9fbb;
}
