body {
  .menuActive {
    text-decoration: none;
    color: #48b5ac !important;
  }
}

.capitalize {
  text-transform: capitalize;
}

.cookie {
  width: 90%;
  height: "fit-content";
  border-radius: 20px;
  background: white;
  position: fixed;
  padding: 40px;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5%;
  z-index: 10000;
  overflow: auto;
}

.cookie-button {
  background: #48b5ac;
  color: "white";
  text-transform: uppercase;
}

.cookie-button:hover {
  background: white;
}

.listCustom {
  &.listing-type {
    display: flex;
    .list-content {
      flex: 1 !important;
      .topFive {
        top: 5px;
      }
    }
    .list-thumb {
      flex: 1 !important;
    }
  }
}
.cursor {
  cursor: pointer;
}

.hover-background {
  border: 3px solid black;
}

.hover-background:hover {
  border: 3px solid #0b9fbb;
}

.css-1vumc2g-MenuPortal {
  left: 0 !important;
}

.matched-type-packets-container {
  background: #39b4e7;
}
